.header-custom {
    background-color: #6f42c1; /* Cor roxa */
}

.carousel-container {
    max-width: 800px; /* Largura máxima do contêiner */
    height: 400px; /* Altura do contêiner */
    overflow: hidden;
    margin: 0 auto; /* Centraliza o carrossel */
}

@media (max-width: 768px) {
    .carousel-container {
        width: 100%; /* Largura total em telas menores */
        height: 300px; /* Ajuste a altura para telas menores, se necessário */
    }
}
